body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: grey;
    color: aquamarine;
    font-size: 25px;
    width: 500px;
}

.time {
    font-family: monospace;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: aquamarine;
    background-color: black;
}